In [9]:
# pandas will help us clean the table
import pandas as pd

In [10]:
# the csv file we will use for this is assigned to the variable df (dataframe)
df = pd.read_csv(r'nba_elo.csv')

In [11]:
# let's run df to see the results
df

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,carm-elo2_post,raptor1_pre,raptor2_pre,raptor_prob1,raptor_prob2,score1,score2,quality,importance,total_rating
0,1946-11-01,1947,0,NaN,TRH,NYK,1300.000000,1300.000000,0.640065,0.359935,...,NaN,NaN,NaN,NaN,NaN,66.0,68.0,0,NaN,NaN
1,1946-11-02,1947,0,NaN,DTF,WSC,1300.000000,1300.000000,0.640065,0.359935,...,NaN,NaN,NaN,NaN,NaN,33.0,50.0,0,NaN,NaN
2,1946-11-02,1947,0,NaN,PRO,BOS,1300.000000,1300.000000,0.640065,0.359935,...,NaN,NaN,NaN,NaN,NaN,59.0,53.0,0,NaN,NaN
3,1946-11-02,1947,0,NaN,STB,PIT,1300.000000,1300.000000,0.640065,0.359935,...,NaN,NaN,NaN,NaN,NaN,56.0,51.0,0,NaN,NaN
4,1946-11-02,1947,0,NaN,CHS,NYK,1300.000000,1306.723300,0.631101,0.368899,...,NaN,NaN,NaN,NaN,NaN,63.0,47.0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73268,2023-04-09,2023,0,NaN,MIN,NOP,1515.912180,1580.214459,0.551193,0.448807,...,NaN,1553.486443,1581.492804,0.504912,0.495088,NaN,NaN,76,89.0,83.0
73269,2023-04-09,2023,0,NaN,PHO,LAC,1622.473507,1491.780565,0.790506,0.209494,...,NaN,1652.873056,1572.272201,0.766976,0.233024,NaN,NaN,88,38.0,63.0
73270,2023-04-09,2023,0,NaN,POR,GSW,1374.878483,1589.117910,0.341276,0.658724,...,NaN,1504.053187,1599.181317,0.397521,0.602479,NaN,NaN,71,91.0,81.0
73271,2023-04-09,2023,0,NaN,LAL,UTA,1420.927892,1578.488104,0.417914,0.582086,...,NaN,1450.338172,1546.832440,0.537056,0.462944,NaN,NaN,49,57.0,53.0
73272,2023-04-09,2023,0,NaN,DAL,SAS,1607.774017,1453.526229,0.812078,0.187922,...,NaN,1633.045180,1440.280876,0.859560,0.140440,NaN,NaN,63,15.0,39.0

In [12]:
# We have a bunch of rows we don't need. We are only invested in the Elo and RAPTOR for each team. 
# RAPTOR is a relatively new concept, therefore many years will not have RAPTOR scores.
# We will now perform some data cleaning by using the drop function to get rid of unnecessary columns.
df = df.drop(['neutral', 'playoff', 'carm-elo1_pre', 'carm-elo2_pre', 'carm-elo_prob1', 'carm-elo_prob2', 'carm-elo1_post', 'carm-elo2_post', 'elo1_post', 'elo2_post', 'score1', 'score2', 'quality', 'importance', 'total_rating'], axis = 1)

In [13]:
# run the dataframe to see if the columns dropped
df

,date,season,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,raptor1_pre,raptor2_pre,raptor_prob1,raptor_prob2
0,1946-11-01,1947,TRH,NYK,1300.000000,1300.000000,0.640065,0.359935,NaN,NaN,NaN,NaN
1,1946-11-02,1947,DTF,WSC,1300.000000,1300.000000,0.640065,0.359935,NaN,NaN,NaN,NaN
2,1946-11-02,1947,PRO,BOS,1300.000000,1300.000000,0.640065,0.359935,NaN,NaN,NaN,NaN
3,1946-11-02,1947,STB,PIT,1300.000000,1300.000000,0.640065,0.359935,NaN,NaN,NaN,NaN
4,1946-11-02,1947,CHS,NYK,1300.000000,1306.723300,0.631101,0.368899,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
73268,2023-04-09,2023,MIN,NOP,1515.912180,1580.214459,0.551193,0.448807,1553.486443,1581.492804,0.504912,0.495088
73269,2023-04-09,2023,PHO,LAC,1622.473507,1491.780565,0.790506,0.209494,1652.873056,1572.272201,0.766976,0.233024
73270,2023-04-09,2023,POR,GSW,1374.878483,1589.117910,0.341276,0.658724,1504.053187,1599.181317,0.397521,0.602479
73271,2023-04-09,2023,LAL,UTA,1420.927892,1578.488104,0.417914,0.582086,1450.338172,1546.832440,0.537056,0.462944
73272,2023-04-09,2023,DAL,SAS,1607.774017,1453.526229,0.812078,0.187922,1633.045180,1440.280876,0.859560,0.140440

In [ ]:
# now we can save this dataframe to a csv file
df.to_csv("total_nba_elo.csv")